<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cryfintra.cryfintra">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_main_activity"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GraphActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.GRAPH" />
            </intent-filter>
        </activity>
        <activity android:name=".AddCurrencyActivity"
            android:label="Add Crypto Currency">
        </activity>
    </application>

</manifest>